@using WebApplication2.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Index";
}
@model List<Music>
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3">
            <form class="w-50 m-auto" method="post" asp-action="Music">
                <div class="form-group my-2">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group my-2">
                    <label for="duration">Duration</label>
                    <input type="text" class="form-control" name="Duration" id="duration" placeholder="Duration">
                </div>
                <button type="submit" class="btn btn-primary my-2">Submit</button>
            </form>
        </div>
    </div>
</header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                                <h2 class="fs-4 fw-bold">@item.Name - @(item.Duration/60):@(item.Duration%60)</h2>
                                @*<p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>*@
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- Footer-->
    
